<br />
<div class="course-box col-10 offset-1">
	<br />
	<h1 class="text-center"><%= current_course.title %></h1>
	<h2 class="text-center"><%= current_course.description %></h2>
	<br />
	<div class="text-center">
		<%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-lg' %>
		<br />
		<br />
		<br class="clear" />
	</div>
	<% if current_course.image.present? %>
		<center><%= image_tag current_course.image.url %></center>
	<% end %>
	<br />
	<hr />
	<br />
	<%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning float-right'%>
	<br class="clear">
	<br />
	<ul>
		<% current_course.sections.each do |section| %>
			<li>
				<h2><%= section.title %></h2>
				<%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
				<ol class="lesson">
					<% section.lessons.each do |lesson| %>
						<li>
							<h3><%= lesson.title%></h3>
							<p class="subtitle"><%= lesson.subtitle %></p>
							<% if lesson.course_text.present? %><%= tinymce_assets %>
								<h4>Course Text for Lesson <%= lesson.title %></h4>
								<p class="lesson-text"><%= lesson.course_text %></p>
							<% end %>
							<br /><br />
						<% end %>
					</li>
				</ol>
				<br class="clear" />
			</li>
		<% end %>
	</ul>
</div>