<br />
<div class="course-box col-10 offset-1">
  <h1>Add a new Lesson</h1>
  <br />
  <%= simple_form_for @lesson, url: instructor_section_lessons_path(current_section) do |f| %>
    <%= tinymce_assets %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :video %>
    <%= "Lesson Text" %>
    <br /><br />
    <%= f.text_area :course_text, :class => "tinymce", :rows => 40, :cols => 120 %><%= tinymce %>
    <br />
    <%= f.submit "Add Lesson", class: 'btn btn-success' %>
    <br />
    <br />
  <% end %>
</div>