<br />
<br />
<div class="info-box">
  <h1 class="text-center"><%= @course.title %></h1>

  <% if @course.image.present? %>
    <br>
    <center><%= image_tag @course.image.url, class: 'img-fluid' %></center>
  <% end %>
  <br />
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-default">
        <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <br />
        <%= link_to 'Administrator', instructor_course_path(@course)%>
      <% end %>
    </div>
    <div class="col-sm-8 col-12">
      <%= @course.description %>
    </div>
  </div>
  <div class="col-12">
    <% @course.sections.each do |section| %>
      <div class="section">
        <h2 class="text-center"><%= section.title %></h2>
        <hr />
       <% section.lessons.each do |lesson| %>
          <div class="lesson">
            <%= link_to lesson_path(lesson) do %>
              <b><%= lesson.title %></b>
              <br />
              <%= lesson.subtitle %>
            <% end %>
          </div>  
          <br />
        <% end %>
      </div>
    <% end %>
  </div>
</div>